a {
  display: block;
  padding: 7px 15px;
  text-decoration: none;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  .box-sizing(border-box);

  &:hover {
    background: @gray-lighter;
    border-top: solid 1px @gray-lighter;
    .box-shadow(none);
  }

  &:active {
    background: @gray-light;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.7);
    width: 201px;
    font-weight: bold;
    border-top: solid 1px @gray-light;
    border-bottom: solid 1px @gray-light;
    border-right: solid 1px @gray-light;
  }
}

.active {
  @color-points-blue-dark: darken(@color-points-blue, 30%);
  > a {
    font-weight: bold;
    color: #fff;
    #gradient .vertical(@color-points-blue, @color-points-blue-dark);
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    width: 205px;
    .border-right-radius(3px);
    .box-shadow(inset 0 1px 0px rgba(255,255,255,0.5));
    border: solid 1px darken(@color-points-blue-dark, 10%);
    border-left: none;
  }
}
