HOST: https://na.platform.points.com
---    Points LCP v1 Resources
--- 
<br/>
![Points Logo](http://www.gravatar.com/avatar/a8fcc27c7a8c373bd9cfead3f599ea9d.png) 
## Overview
* see [overview section of voyager wiki](https://github.com/Points/Voyager/wiki) - once overview section is updated copy the content here

## :TODO:'s Against Almost All Resources Below
* :TODO: we're using [OAuth 2.0 MACs](http://tools.ietf.org/html/draft-ietf-oauth-v2-http-mac-02)
so eliminate all the shared secret, public key and private key references in the resources 
     * *:DS I think this one is complete, can we close?*
* :TODO: start describing requests and responses using [JSON Schema](http://json-schema.org/)
    * *:DS This probably will not take place for another seveal weeks*
* :TODO: how does multi-language work? if we think about the account creation process
should the POST to /accounts contain an indication of the account's preferred language
and if this specification doesn't appear then we default to Voyager's default lanaguage?
What resource is used to manage the langugage? Would be a /langs collection
specifying all supported languages and a /langs/default or /defaults/lang or /system-settings/lang
resource make sense? all creds (post account authorization) should be able to do
a GET on /langs/{id} but only creds in the points administrators group should be able
to do a POST on /langs and a PUT & DELETE on /langs/{id}
    * *:DS Please review the modifications made to the Blueprint and also the additional language resource*
---

--
/accounts - Accounts
The accounts resources enable you to create an account and obtain security credentials to
begin using the platform immediately. To get started, simply POST to the /accounts resource
to create your account and obtain your credentials.
 
--
Create an account. 
</br></br> Anyone can create an account.
The only mandatory field is the email field.
Creating your account will return a link to admin-credentials which you can 
start using immediately to develop against the platform.
<br><br>
VALIDATION: 
{ 
"email": {"type": "email", "description": "Must be valid,", “not null”}
}


POST /accounts
> Content-Type: application/json; charset=utf-8
{
    "email": "mano@manoscompany.com"
}
< 201
< Location: https://na.platform.points.com/accounts/{id}
< Content-Type: application/json; charset=utf-8
< Content-Length: XXX
{
    "id": "234j4-34j14-pxm134-fhg1234",
    "organization": "",
    "firstName": "",
    "lastName": "",
    "email": "mano@manoscompany.com",
    "phone": "",
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/{id}"
        },
        "friendly": {
            "href": "https://na.platform.points.com/accounts/mano@manoscompany.com"
        }
        "creds": {
        }
    }
}

Get an account.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
<br>
<br>
GET /accounts/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
}
< 200
< Content-Type: application/json; charset=utf-8
< Content-Length: XXX
{
    "id": "234j4-34j14-pxm134-fhg1234",
    "name": "",
    "primaryFirstName": "",
    "primaryLastName": "",
    "primaryEmail": "mano@manoscompany.com",
    "primaryPhone": ""
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/mano@manoscompany.com",
            "href": "https://na.platform.points.com/accounts/{id}"
        },
        "creds": {
        }
    }
}

Modify an account.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
<br>
<br>
JSON Body<br>
“name” : {"type": "string", “max length: ??” }<br>
“primaryFirstName” : {"type": "string", “max length: ??” }<br>
“primaryLastName” : {"type": "string", “max length: ??” }<br>
“primaryEmail” : {"type": "email", “max length: ??” }<br>
<b>***QUESTION BNO:  Should they be allowed to change this here, and if so, would this trigger a new validation email to be sent to the address to validate the address?</b><br>
“primaryPhone” : {"type": "TelephoneNumber", }<br>
<b>*QUESTION BNO: Not sure if you want this data type or not.</b>
<Br>
<Br>
PUT /accounts/{id}
> Content-Type: application/json; charset=utf-8
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "name": "Mano's Company Modified Name",
    "primaryFirstName": "Mano",
    "primaryLastName": "Partner",
    "primaryEmail": "mano@manoscompany.com",
    "primaryPhone": "4162324576"
}
< 200
< Location: https://na.platform.points.com/accounts/mano@manoscompany.com
< Content-Type: application/json; charset=utf-8
{
    "id": ""
    "name": "Mano's Company Modified Name",
    "primaryFirstName": "Mano",
    "primaryLastName": "Partner",
    "primaryEmail": "mano@manoscompany.com",
    "primaryPhone": "4162324576"
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/mano@manoscompany.com",
            "href": "https://na.platform.points.com/accounts/{id}"
        },
        "creds": {
            "href": "https://na.platform.points.com/accounts/mano@manoscompany.com/458934-234980f-kj234h-kj324kh"
        }
    }
}

Delete an account.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
<br>
<br>
DELETE /accounts/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
}
< 200
{
}

Create Credentials
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
<br>
<br>
POST /accounts/{id}/creds
> Content-Type: applicaton/json; charset=utf-8
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
}
< 201
< Content-Type: application/json; charset=utf-8
< Location: https://na.platform.points.com/accounts/mano@manoscompany.com/458934-234980f-kj234h-kj324kh
{
    "macKeyIdentifier": "458934234980fkj234hkj324kh",
    "macKey": "933n5-4m1n23-m13nn3-l12TYL",
    "macAlgorithm": "HMAC-SHA1",
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/mano@manoscompany.com/458934-234980f-kj234h-kj324kh"
        }
    }
}

Get all credentials associated with this account.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
<br>
<br>
GET /accounts/{id}/creds
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json; charset=utf-8
{
    [
        {
            "key": "458934-234980f-kj234h-kj324kh",
            "shared-secret": "933n5-4m1n23-m13nn3-l12TYL",
            "status": "active"
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/accounts/{id}/creds/{id}"
                }
            }
        }
    ]
}

Get a specific set of credentials.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
{ "id": {"type": "MemberId", “not null”} }
<br>
<br>
GET /accounts/{id}/creds/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json; charset=utf-8
{
    "key": "458934-234980f-kj234h-kj324kh",
    "shared-secret": "933n5-4m1n23-m13nn3-l12TYL",
    "status": "inactive",
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/{id}/creds/{id}"
        }
    }
}

Delete a specific set of credentials.
<br><br>
VALIDATION:<br>
<br>
{ "id": {"type": "AccountId", “not null”} }
{ "id": {"type": "MemberId", “not null”} }
<br>
<br>
DELETE /accounts/{id}/creds/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
}
< 204
{
}



--
/apps - Applications
**:DS: Dave, I noticed you changed the return resource ID to drop /apps under /accounts/{id}/apps.  Can we discuss?**
--

Searches list of Applications by App Name, Organization & LP Access

:DAS: what is "lpaccess"
</br>    **:DS Loyalty Partners to search based on which LPs an app has access to**

:DAS: aren't all applications production? think we should just use the label "/apps - Applicaitons" rather than "/apps - Production Applications"
</br>   **:DS Done.**
</br>

GET /apps
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json
< Link: <https://na.platform.points.com/accounts/{id}/apps?page=3>, rel="next"; <https://na.platform.points.com/prod-partner/{id}/apps?page=1>, rel="prev";
{
    "apps": [ 
        {
            "name": "Mano's App",
            "description": "Universal Balance Checker"
            "links": {
                "self": {
                    "https://na.platform.points.com/apps/49282939"
                }
        },
        {
            "name": "Mano's Other App",
            "description": "Make donations to charities",
            "links": {
                "self": {
                    "https://na.platform.points.com/apps/9872349178"
                }
        }   
    ]
    "links": {
        "self": {
            "href": "https://na.platform.points.com/apps"
        }
    }
}

Creates an Application
POST /apps
> Content-Type: application/json
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "name": "Mano's App",
}
< 201
< Content-Type: application/json
< Location: https://na.platform.points.com/apps/{id}
{
    "name": "Mano's App",
    "description": "Universal balance checker",
    "sandboxCredentials" : [
        {
            "keyIdentifier": "sandbox_458934234980fkj234hkj324kh",
            "sharedSecret": "933n5-4m1n23-m13nn3-l12TYL",
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/apps/{id}/credentials/{id}"
                }
            }
        }
    ]
    "accessibleLoyaltyPrograms": [
        {
            "name": "US Airways",
            "loyaltyProgram": "https://na.platform/points.com/loyalty-programs/9834701"
        },
        {
            "name": "Global Rewards",
            "loyaltyId": "https://na.platform/points.com/loyalty-programs/5678"
        }
    ]
    "links": {
        "self": { 
            "href": "https://na.platform.points.com/apps/{id}"
        },
        "sandboxCredentials": {
            "href": "https://na.platform.points.com/apps/{id}/credentials"
        }
    }
}

:DAS: debug - can't see why the "}" above is there.
</br>   **:DS Fixed, Apiary is sensitive on extra white space**
</br>
Provides a set of application information that can be utilized
by the application for various functions.  
GET /apps/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json
< Accepted-Lang: us-en
{
    "name": "Mano's App",
    "description": "Universal Balance Checker",
    "sandboxCreds" : [
        {
            "keyIdentifier": "sandbox_458934234980fkj234hkj324kh",
            "sharedSecret": "933n5-4m1n23-m13nn3-l12TYL",
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/apps/{id}/sandbox-creds/sandbox_458934234980fkj234hkj324kh"
                }
            }
        }
    ],
    "liveCreds" : [
        {
            "keyIdentifier": "live_908-123498-0998341",
            "sharedSecret": "jl4123lkj09uf09u2MPPLQ123",
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/apps/{id}/live-creds/live_908-123498-0998341"
                }
            }
        }
    ],
    "sandboxLPAccess": [
        {
            "name": "US Airways",
            "links": {
                "self": "https://sandbox.lcp.points.com/lps/9834701"
            }
        },
        {
            "name": "Global Rewards",
            "loyaltyId": "https://na.platform/points.com/lps/5678"
        }
    ],
    "liveLoyaltyPrograms": [
        {
            "name": "US Airways",
            "loyaltyProgram": "https://na.platform/points.com/lps/9834701"
        },
    ],
    "links": {
        "self": { 
            "href": "https://na.platform.points.com/apps/{id}"
        },
        "sandboxCredentials": {
            "href": "https://na.platform.points.com/apps/{id}/sandbox-creds"
        }
        "liveCredentials": {
            "href": "https://na.platform.points.com/apps/{id}/live-creds"
        }
    }
}

Create an Application Credential

:DAS: this should be called credentials not keys
</br>   **:DS Done.**
POST /apps/{id}/sandbox-creds
> Content-Type: application/json; charset=utf-8
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "status": "active",
}
< 201
< Content-Type: application/json;charset=utf-8
< Location: https://na.platform.points.com//apps/{id}/sandbox-creds/458934-234980f-kj234h-kj324kh
{
    "status": "active",
    "publicKey": "458934-234980f-kj234h-kj324kh",
    "sharedSecret": "098341njk309-1jl;jk",
    "links": {
        "self": {
            "href": "https://na.platform.points.com/accounts/{id}/apps/{id}/sandbox-creds/458934-234980f-kj234h-kj324kh"
        },
        "app": {
            "href": "https://na.platform.points.com/apps/49282939"
        }
    }
}

Retrieve details about an Sandbox Cred
GET /apps/{id}/sandbox-creds/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json; charset=utf-8
{
    "status": "active",
    "publicKey": "098341njk309-1jl;jk",
    "sharedSecret": "https://na.platform.points.com/apps/{id}/sandbox-creds/458934-234980f-kj234h-kj324kh"
    "links": {
        "self": {
            "href": "https://na.platform.points.com/apps/{id}/sandbox-creds/458934-234980f-kj234h-kj324kh"
        }
        "app": {
            "href": "https://na.platform.points.com/apps/49282939"
        }
    }
}

POST /apps/{id}/live-creds
> Content-Type: application/json; charset=utf-8
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "status": "active",
}
< 201
< Content-Type: application/json;charset=utf-8
< Location: https://na.platform.points.com/apps/{id}/live-creds/458934-234980f-kj234h-kj324kh
{
    "status": "active",
    "publicKey": "458934-234980f-kj234h-kj324kh",
    "sharedSecret": "098341njk309-1jl;jk"
    "links": {
        "self": {
            "href": "https://na.platform.points.com/apps/{id}/live-creds/458934-234980f-kj234h-kj324kh"
        }
        "app": {
            "href": "https://na.platform.points.com/apps/49282939"
        }
    }
}

Retrieve details about an App Key
GET /apps/{id}/live-creds/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json; charset=utf-8
{
    "status": "active",
    "publicKey": "098341njk309-1jl;jk",
    "sharedSecret": "https://na.platform.points.com/apps/{id}/live-creds/458934-234980f-kj234h-kj324kh"
    "links": {
        "self": {
            "href": "https://na.platform.points.com/apps/{id}/live-creds/458934-234980f-kj234h-kj324kh"
        }
        "app": {
            "href": "https://na.platform.points.com/apps/49282939"
        }
    }
}


Add LPs to Sandbox mode
POST /apps/{id}/lp-access/sandbox
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json; charset=utf-8
{
    "lpid": "usar"
    "access": ["mv","points-in"]
}
< 201
< Content-Type: application/json; charset=utf-8
{
    "access": ["mv","points-in"]
    "name": "US Airways",
    "partnerID": "usar",
    "supportedLangs": ["us-en","ca-fr", "ca-en"],
    "links": {
        "self": {
            "href": "https://sandbox.lcp.points.com/apps/{id}/lp-access/sandbox/{id}"
        }
}

Add LPs to Live mode
PUT /apps/{id}/lp-access/live
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json; charset=utf-8  
{ 
    "lpid": "usar",
    "access": ["mv"]
}
< 201
< Content-Type: application/json; charset=utf-8
{
    "access": ["mv"],
    "name": "US Airways",
    "partnerID": "usar",
    "supportedLangs": ["us-en","ca-fr", "ca-en"],
    "links": {
        "self": {
            "href": "https://sandbox.na.platform.points.com/apps/{id}/lp-access/live/{lpid}"
        }
}

Retrieve the LP Access for an Application
GET /apps/{id}/lp-access
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json; charset=utf-8
< 200
< Content-Type: application/json;charset=utf-8
{
    "sandbox": [
        {
            "access": ["mv","points-in"],
            "name": "US Airways",
            "partnerID": "usar",
            "supportedLangs": ["us-en","ca-fr", "ca-en"],
            "links": {
                "self": {
                    "href": "https://sandbox.na.platform.points.com/apps/{id}/lp-access/sandbox/{id}"
                }
        },
        {
            "access": ["mv"],
            "name": "Wyndham",
            "partnerID": "wynd",
            "supportedLangs": ["us-en"],
            "links": {
                "self": {
                    "href": "https://sandbox.na.platform.points.com/apps/{id}/lp-access/sandbox/{id}"
                }
        }
    ],
    "live": [
        {
            "access": ["mv"],
            "name": "US Airways",
            "partnerID": "usar",
            "supportedLangs": ["us-en","ca-fr", "ca-en"],
            "links": {
                "self": {
                    "href": "https://sandbox.na.platform.points.com/apps/{id}/lp-access/live/{id}"
                }
        }
    ],
    "links": {
        "self": {
            "href": "https://na.platform.points.com/apps/{id}/lp-access"
        }
    } 
}

--
/lps - Loyalty Programs
The Loyalty Programs set of resources enable an Application to gather 
necessary information about a Loyalty Partner they want to transact against.  
Additionally, an application may need to utilize specific marketing assets 
for a Loyalty Program such as Logos.


--

Search Registered Loyalty Programs
GET /lps{?lps*,partnerName,routing,appID}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Accepted-Lang: us-en
< 200
< Content-Type: application/json;charset=utf-8
< Link: <https://na.platform.points.com/lps?page=3>, rel="next"; <https://na.platform.points.com/lps?page=2>,  rel="prev";
{
    "lang": "us-en",
    "results": [ 
       {
            "name": "US Airways",
            "partnerID": "usar",
            "mode": "sandbox",
            "supportedLangs": ["us-en","ca-fr", "ca-en"],
            "links": {
                "self": {
                    "href": "https://sandbox.na.platform.points.com/lps/294857"
                }
                "authentication-requirements": {
                    "href": "https://sandbox.na.platform.points.com/lps/294857/authentication-requirements"
                }
        },
        {
            "name": "Wyndham",
            "partnerID": "wynd",
            "mode": "sandbox",
            "supportedLangs": ["us-en"],
            "links": {
                "self": {
                    "href": "https://sandbox.na.platform.points.com/lps/91284"
                }
                "authentication-requirements": {        
                    "href": "https://sandbox.na.platform.points.com/lps/91284/authentication-requirements"
                }
        },
    ],
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps{?lps*,partnerName,routing,appID}"
        }
    }
}

Register a new LPS in the Platform
POST /lps
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type:applicaton/json;charset=utf-8
{
    "partnerName": {
        "us-en": "Wyndham",
        "ca-fr": "Wyndham"
    }
    "partnerID": "wynd",
    "routing": "pie",
    "domainName": "Wyndham_PointsCore",
    "routingName": "Wyndham"
}
< 201
< Content-Type: application/json;charset=utf-8
< Location: https://na.platform.points.com/lps/14985736
{
    "partnerName": {
        "us-en": "Wyndham",
        "ca-fr": "Wyndham"
    }
    "partnerID": "wynd",
    "routing": "pie",
    "domainName": "Wyndham_PointsCore",
    "routingName": "Wyndham"
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/14985736"
        }
    }
}

Returns LPS configuration information and a list of allowed Applications.
GET /lps/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Accepted-Lang: us-en
< 200
< Content-Type: application/json;charset=utf-8
{
"lang": "us-en",
    {
    "partnerName": "Wyndham",
    "partnerID": "wynd",
    "routing": "pie",
    "domainName": "Wyndham_PointsCore",
    "routingName": "Wyndham"
    "supportedLangs": ["us-en","ca-en"],
    "allowedApps": [
        {
            "mode": "sandbox",
            "name": "Mano's App",
            "type": "web",
            "links": {
                "self": {
                    "https://na.platform.points.com/accounts/{id}/apps/49282939"
                }
        },
        {
            "mode": "production",
            "name": "Mano's Other App",
            "type": "mobile",
            "pstCode": "pts-MNOMOB",
            "links": {
                "self": {
                    "https://na.platform.points.com/accounts/{id}/apps/9872349178"
                }
        }   
        ]
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/1493848"
        }
        "marketing-assets": {
            "href": "https://na.platform.points.com/lps/1493848/marketing-assets"
        }
        "authentication-requirements": {
            "href": "https://na.platform.points.com/lps/1493848/authentication-requirements"
        }
    }
    }
} 

Returns a list of marketing terms & assets (logos etc.) that the application can use to 
identify the loyalty program within the application.  Also is a set of marketing assets 
for Points (eg. Powered by points logo)  Assets are links to web based resources.
<br>
If an LP is not found, return a 404 not found.

GET /lps/{lpID}/marketing-assets
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Accepted-Lang: all
< 200
< Content-Type: application/json;charset=utf-8
{
[
    {
    "lang": "us-en",
    "marketing-assets": 
    [
            {
            "mimetype":"image/jpeg",
            "description":"First Logo",
            "name":"USAirways Logo 1",
            "filename":"http://cms.platform.points.com/lps/1234234/us250w_132h.jpg",
            "asset_type":"LOGO",
            "dimensions":
                {
                "width":"250",
                "height":"132"
                }
            },
            {
            "mimetype":"image/jpeg",
            "description":"Second Logo",
            "name":"USAirways Logo 2",
            "filename":"http://cms.platform.points.com/lps/1234234/us_ai_335w_150h.jpg",
            "asset_type":"LOGO",
            "dimensions":
                {
                "width":"335",
                "height":"150"
                }
            }
    ],
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}"
            }
        }
    },
    {
    "lang": "ca-fr",
    "marketing-assets": 
    [
            {
            "mimetype":"image/jpeg",
            "description":"French Logo 1",
            "name":"USAirways Logo 1",
            "filename":"http://cms.platform.points.com/lps/1234234/us250w_132h.jpg",
            "asset_type":"LOGO",
            "dimensions":
                {
                "width":"250",
                "height":"132"
                }
            },
            {
            "mimetype":"image/jpeg",
            "description":"French Version Second Logo",
            "name":"USAirways Logo 2",
            "filename":"http://cms.platform.points.com/lps/1234234/us_ai_335w_150h.jpg",
            "asset_type":"LOGO",
            "dimensions":
                {
                "width":"335",
                "height":"150"
                }
            }
    ],
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}"
            }
        }
    }
]
}

Add an MV Metadata Contract
POST /lps/{lpID}/mv-md
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "identifyingFields": 
    [
        {
            "fieldKey": "member_first_name",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "First Name"
            }
            "description": {
                "us-en": "Member's First Name"
            }
        },
        {
            "fieldKey": "member_last_name",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "Last Name"
            }
            "description": {
                "us-en": "Member's Last Name"
            }
        }
    ],
    "authenticatingFields": 
    [
        {
            "fieldKey": "member_password",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "Password"
            }
            "description": {
                "us-en": "Password"
            }
        },
    ]
}
< 201
{
    "identifyingFields": 
    [
        {
            "fieldKey": "member_first_name",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "First Name"
            }
            "description": {
                "us-en": "Member's First Name"
            }
        },
        {
            "fieldKey": "member_last_name",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "Last Name"
            }
            "description": {
                "us-en": "Member's Last Name"
            }
        }
    ],
    "authenticatingFields": 
    [
        {
            "fieldKey": "member_password",
            "validation": "^[A-Za-z]{3,15}$",
            "name": {
                "us-en": "Password"
            }
            "description": {
                "us-en": "Password"
            }
        },
    ],
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}/mv-md/9876"
        }
    }
}

Returns the newest MV Metadata Contract for a specific Loyalty Program.
<br> If a LP is not found, return a 404.
GET /lps/{lpID}/mv-md
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Accepted-Lang: us-en
< 200
< Content-Type: application/json;charset=utf-8
{
    "identifyingFields":
    [
        {
            "fieldKey": "member_first_name",
            "name": "First Name",
            "validation": "^[A-Za-z]{3,15}$",
            "description": "Field description"
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/lps/{lpID}/mv-md/9876"
                    }
                }
        },
        {
            "fieldKey": "member_last_name",
            "name": "Last Name",
            "validation": "^[A-Za-z]{3,15}$",
            "description": "Field description"
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/lps/{lpID}/mv-md/46724"
                    }
                }
        }
    ]
    "authenticatingFields":
    [
        {
            "fieldKey": "member_password",
            "name": "Password",
            "description": "Password"
            "validation": "^[A-Za-z0-9]{8,16}$"
            "links": {
                "self": {
                    "href": "https://na.platform.points.com/lps/{lpID}/mv-md/9876"
                    }
                }
        }
        ]
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}/mv-md"
        }
        "member-validations":
        {
            "href": "https://na.platform.points.com/lps/{lpID}/mv"
        }
    }
}

Create a Member Validation
mvContract field refers to the specific mv-md contract that this MV is utilizing
mvType field refers to the type of MV requested, which will set the expiry on the MV
</br>If invalid fields are passed, return a 400 (Bad Request)
</br>If LP Service is unavailable for any reason, return a 503 (Service Unavailable)
POST /lps/{lpID}/mv
> Content-Type: application/json;charset=utf-8
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
{
    "memberFields": {
        "member_first_name": "Daniel",
        "member_last_name": "Shapiro",
        "member_password": "password",
    }
    "mvContract": "https://sandbox.lcp.points.com/lps/{lpid}/mv-md/9876",
    "mvType": "mv" 
}
< 201
< Content-Type: application/json;charset=utf-8
< Location: https://na.platform.points.com/lps/{lpID}/mv/948202349
{
    "expires": "2013-04-11T12:43:00Z",
    "balance": 23000,
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}/mv/948202349"
        }
        "orderId": {
            "href": "https://na.platform.points.com/orders/{id}"
        }
    }
}

Validate a Member Validation
GET /lps/{lpID}/mv/{mvID}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json;charset=utf-8
{
    "expires": "2013-04-11T12:43:00Z",
    "balance": 23000
    "links": {
        "self": {
            "href": "https://na.platform.points.com/lps/{lpID}/mv/948202349"
        }
    }
}

--
/orders Orders - NOT UP TO DATE
--
Create a new order & return the orderID.
POST /orders
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json
{
    "mv": "https://na.platform.points.com/lps/{lpID}/mv/948202349"
}
< 202
< Content-Type: application/json
{
    "orderID: "/orders/12345"
}

Retrieve Transactions associated with an OrderID
GET /orders/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 200
< Content-Type: application/json
{
    transactions: [id1,id2,id3,id4]
}

Deduct points from an account.
POST /orders/{id}/points-out
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json
{
    "currency": "sky"
    "amount": 24300
}
< 202
< Content-Type: application/json
{
    "message": "success."
    "transactionID": "/orders/12345/9293874"
}

Add points to an account.
POST /orders/{id}/points-in
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json
{
    "currency": "sky"
    "amount": 220
}
< 202
< Content-Type: application/json
{
    "message": "success."
    "transactionId": "/orders/12345/141341341"
}

Perform an AUTH Against a Credit Card
POST /orders/{id}/auth
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json
{
    "currency": "CAD"
    "amount": 220.34
    "billingInfo": {
        "firstName": "Daniel"
        "lastName": "Shapiro"
        "street": "171 John St."
        "state": "ON"
        "country": "CAN"
        "type": "visa"
        "number": "4563764523789827"
        "exp": "0617"
        "ccv": "431"
    }
}
< 202
< Content-Type: application/json
{
    "message": "success."
    "transactionId": "/orders/12345/3412341235"
}

Perform an CAPTURE Against a Credit Card
POST /orders/{id}/capture
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
> Content-Type: application/json
{
    "authID": "/orders/12345/3412341235"
}
< 202
< Content-Type: application/json
{
    "message": "success."
    "transactionId": "/orders/12345/349013244"
}

Check the status of a transaction
GET /orders/12345/{id}
> Authorization: MAC id="...", ts="...", nonce="...", mac="..."
< 202
< Content-Type: application/json
{
    "message": "success."
    "started": <DATE>
    "completed": <DATE>
}