define [
<% _.forEach(paths, function(path, i) { print('  "'+path+'"\n'); }); %>], (
<% _.forEach(files, function(file, i) { print('  '+file+'\n'); }); %>) ->
  Markdown =
<% _.forEach(files, function(file, i) { print('    '+file+': '+file+'\n'); }); %>
  return Markdown
