
#documentation {
  background: @gray-lighter;
  font-size: 1.2em;
  line-height: 1.8em;

  .dark-bg {
    background: @color-code-bg;
  }
}

.content {
  border-top: solid 1px rgba(255,255,255,0.1);
  border-bottom: solid 1px rgba(0,0,0,0.4);
  position: relative;

  // Create border effect just for the lighter "for human" side
  &:after {
    content: '';
    border-top: solid 1px #fff;
    width: 50%;
    position: absolute;
    top: -1px;
  }

  &:before {
    content: '';
    border-top: solid 1px #d2d2d2;
    position: absolute;
    width: 50%;
    top: -2px;
  }
}

.for-machines {
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.document {
  h4 {
    margin: 1em 0;
  }
}

.definitions {
  border-top: solid 1px #d2d2d2;
  border-bottom: solid 1px #d2d2d2;
  padding: 10px 0;
  margin-bottom: 2em;

  table {
    width: 100%;

    td, th {
      padding: 10px 5px;
      vertical-align: top;
      text-align: left;

      &:first-child {
        width: 140px;
        text-align: right;
        font-weight: bold;
      }
    }

    th {
      border-bottom: solid 1px #e2e2e2;
      padding: 15px 5px 5px 5px;
    }
  }
}

@media (max-width: @screen-sm) {
  .content {
    &:after, &:before {
      width: 100%;
    }

    &:before {
      width: 100%;
    }
  }

  #documentation {
    font-size: 1.6em;
  }

  .definitions {
    table {
      td, th {
        &:first-child {
          width: auto;
        }
      }
    }
  }
}
