#header {
  .clearfix();
  height: 30px;
  width: 100%;
  background: #ddd;
  z-index: 200;

  #logo {
    float: left;
    padding: 5px 30px;

    img {
      max-height: 20px;
    }
  }

  @import 'header/nav.less';
}

#lcp-nav {
  float: right;
  font-size: 1.2em;
  font-family: 'Helvetica', Arial, sans-serif;
}

@media (max-width: @screen-md-max) {
  #header {
    background: none;
    height: auto;

    #logo {
      display: none;
    }

    #lcp-nav {
      float: none;
      font-size: 1.4em;
    }

    @import 'header/nav-tablet.less';
  }
}
