#header {
  .clearfix();
  height: 30px;
  width: 100%;
  background: #ddd;
  z-index: 200;

  #logo {
    float: left;
    padding: 5px 30px;

    img {
      max-height: 20px;
    }
  }

  @import 'header-nav.less';
}
